{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-regenerator",
    ["module-resolver", {
      "alias": {
        "business": "./src/containers/business/"
      },
      "extensions": [".js", ".jsx"]
    }],

  ]
}
