{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-regenerator",
    "transform-export-default",
    ["module-resolver", {


      "extensions": [".js", ".jsx"]
    }],

  ]
}
